@import "../variables.scss";

header {
    .navbar {
        background-color: $mainColor;
        height: 70px;

        .logo {
            color: $mainTextColor;
            font-size: 20px;
            font-weight: 700;
            @include centerVertically();
            
            
        img {
            width: 30px;
        }

        p {
            margin-bottom: 0px;
            margin-left: 10px;
        }
        }

        .categories {
            @include spaceBetween;

            .nav-item {
                margin-right: 19px;
                color: $mainTextColor;
                font-size: 14px;
                font-weight: 700;
            }
        }
    }
}



