<div class="body">
    <p class="title">Acesse mais de 1.000.000 de Papeis de parede <br>
        e deixe seu computador com a sua cara!</p>
    <p class="subtitle">Faça download em 4K, Full-HD ou HD, não importa sua resolução!</p>

    <form class="search-button" role="search">
        <input class="form-control me-2" type="search" placeholder="O que você procura?" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
        </button>
    </form>

    <p class="most-searched-categories">Categorias mais buscadas <span>Natureza</span>, <span>Animais</span> e <span>Veículos</span>.</p>


</div>