.navbar {
  background-color: #4EB577;
  height: 70px;
}

.categories {
  display: flex;
  justify-content: space-between;
}

.categories .nav-item {
  margin-right: 19px;
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
}

.logo {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.logo img {
  width: 30px;
}

.logo p {
  margin-bottom: 0px;
  margin-left: 10px;
}

.body .title {
  font-size: 22px;
  color: #333333;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}
.body .subtitle {
  font-size: 17px;
  font-weight: 400;
  color: #333333;
  display: flex;
  justify-content: center;
}
.body .search-button {
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  width: 800px;
}
.body .search-button input {
  margin-right: 0 !important;
  border-radius: 14px 0 0 14px;
  height: 60px;
  background-color: #E8E8E8;
}
.body .search-button button {
  width: 75px;
  background-color: #4EB577;
  border-radius: 0 14px 14px 0;
  height: 60px;
}
.body .search-button button svg {
  width: 28px;
  color: #FFF;
}
.body .most-searched-categories {
  font-family: 17px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  margin-top: 15px;
}
.body .most-searched-categories span {
  color: #4EB577;
  font-weight: 700;
  display: inline;
}
.body .releases {
  width: 900px;
  margin: 0 auto;
  flex-direction: column;
}
.body .releases .releases-title {
  margin-top: 90px;
  font-size: 22px;
  color: #333333;
  font-weight: 700;
}
.body .releases .releases-listing {
  display: flex;
  justify-content: center;
}
.body .releases .releases-listing .card {
  margin: 10px 20px 0 20px;
  border: none;
}
.body .releases .releases-listing .card .card-img-top {
  border-radius: 0;
}
.body .releases .releases-listing .card .card-body {
  height: 70px;
  background-color: #4EB577;
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: center;
  border-radius: 0 0 10px 10px;
}
.body .releases .releases-listing .card .card-body .card-title {
  font-size: 14px;
  font-weight: 700;
  color: #FFF;
  margin-top: 10px;
}
.body .releases .releases-listing .card .card-body p {
  font-size: 12px;
  color: #FFF;
}
.body .releases .releases-listing .card .card-body svg {
  color: #FFF;
  width: 28px;
  height: 28px;
}
.body .see-more-button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.body .see-more-button button {
  width: 250px;
  height: 58px;
  background-color: #E8E8E8;
  color: #333333;
  font-weight: 700;
  font-size: 18px;
  border-radius: 10px;
  border: none;
}
.body .popular {
  width: 900px;
  margin: 0 auto;
  margin-bottom: 60px;
  flex-direction: column;
}
.body .popular .popular-title {
  margin-top: 90px;
  font-size: 22px;
  color: #333333;
  font-weight: 700;
}
.body .popular .popular-listing {
  display: flex;
  justify-content: center;
}
.body .popular .popular-listing .card {
  margin: 10px 20px 0 20px;
  border: none;
}
.body .popular .popular-listing .card .card-img-top {
  border-radius: 0;
}
.body .popular .popular-listing .card .card-body {
  height: 70px;
  background-color: #4EB577;
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: center;
  border-radius: 0 0 10px 10px;
}
.body .popular .popular-listing .card .card-body .card-title {
  font-size: 14px;
  font-weight: 700;
  color: #FFF;
  margin-top: 10px;
}
.body .popular .popular-listing .card .card-body p {
  font-size: 12px;
  color: #FFF;
}
.body .popular .popular-listing .card .card-body svg {
  color: #FFF;
  width: 28px;
  height: 28px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}/*# sourceMappingURL=style.css.map */